<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='502.css') }}">
    <title>502 error</title>
</head>
<body>
    <div class="error-container">
        <lottie-player 
            src="{{ url_for('static', filename='502.json') }}"
            background="transparent"  speed="1"
            style="width: 1000px; height: 650px; margin: auto;"
            loop autoplay>    
        </lottie-player>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <a href="/" class="btn">На главную</a>
</body>
</html>