<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/index.css">
  <title>listik</title>
</head>
<body>
  <header>
    <h1>Проблемы окружающей среды</h1>
  </header>
  <nav>
    <a href="/ИзменениеКлимата">Изменение климата</a>
    <a href="/ЗагрязнениеВоды">Загрязнение воды</a>
    <a href="/ОстаткиПластика">Остатки пластика</a>
    <a href="/register">Зарегистрироваться</a>
  </nav>
  <section>
    <h1>Приветствуем вас на нашем сайте!</h1>
    <p>Наша планета столкнулась с множеством серьезных проблем окружающей среды, которые негативно влияют на нашу жизнь и будущее. Именно поэтому необходимо понимать и осознавать масштаб проблемы для того, чтобы найти эффективные способы ее решения. На данной странице мы хотели бы обсудить наиболее актуальные проблемы окружающей среды, с которыми мы сталкиваемся в настоящее время.</p>
    <img id="listik" src="https://kartinki.pics/uploads/posts/2022-03/thumbs/1646993205_4-kartinkin-net-p-kartinki-listikov-5.png">
    <h4>Наиболее распространенные проблемы окружающей среды:</h4>
    <p>1. Изменение климата: глобальное потепление, экстремальные погодные условия, понижение уровня льда и т.д.</p>
    <p>2. Загрязнение воды: выбросы промышленных отходов, пластиковое загрязнение, использование опасных химических веществ.</p>
    <p>3. Остатки пластика: огромные свалки пластиковых отходов, микро-пластик в океанах, угроза для морской жизни.</p>
    <h4>Пометка</h4>
    <p>Наши действия сегодня определяют будущее нашей планеты. Мы несем ответственность за окружающую среду и должны принимать активное участие в ее защите и восстановлении. Давайте вместе работать над сохранением нашей планеты для будущих поколений.</p>
  </section>
</body>
</html>