<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/климат.css">
  <title>listik</title>
</head>
<body>
  <header>
    <h1>Изменение климата</h1>
  </header>
  <nav>
    <a href="/">Проблемы окружающей среды</a>
    <a href="/ЗагрязнениеВоды">Загрязнение воды</a>
    <a href="/ОстаткиПластика">Остатки пластика</a>
  </nav>
  <section>
    <h1>Изменеие климата</h1>
    <h4>Проблема: глобальное потепление</h4>
    <p> Глобальное потепление: Изменение климата – это одна из наиболее серьезных экологических угроз, с которой сталкивается наш планет. В последние десятилетия глобальное потепление стало все более явным, вызывая изменение климата и оказывая воздействие на природные процессы. Повышение температуры приводит к таянию ледников, изменению сезонов и увеличению количества экстремальных погодных явлений.</p>
    <img id="klim" src="https://issek.hse.ru/data/2023/02/15/2031839307/3%D1%82%D0%B8%D1%82%D1%83%D0%BB.png">
    <h4>Проблема: экстремальные погодные условия</h4>
    <p>Экстремальные погодные условия: Интенсивные дожди, наводнения, засухи, ураганы – эти и другие экстремальные погодные условия становятся все более частыми и разрушительными вследствие изменения климата. Глобальное потепление приводит к нестабильности погоды и увеличению вероятности возникновения катастрофических событий, что оказывает воздействие на живой мир и человечество.</p>
    <img id="ex" src="https://cdn-icons-png.flaticon.com/512/4357/4357551.png">
    <h4>Проблема: понижение уровня льда</h4>
    <p> Понижение уровня льда: Одним из наиболее очевидных проявлений изменения климата является понижение уровня льда в Арктике, Антарктиде и других регионах. Таяние ледников и айсбергов угрожает биоразнообразию, изменению морских течений, а также уровню мирового океана, что в конечном итоге может привести к наводнениям и другим катастрофическим последствиям.</p>
    <img id="ice" src="https://kartin.papik.pro/uploads/posts/2023-07/thumbs/1689243364_kartin-papik-pro-p-kartinki-led-na-ozere-dlya-detei-33.jpg">
    <h4>Решение проблемы:</h4>
    <p>Глобальное потепление, экстремальные погодные условия и понижение уровня льда – все эти явления напрямую связаны с изменением климата. Для борьбы с этими проблемами необходима глобальная координация и действия на уровне стран и общества в целом. Одним из важных шагов для уменьшения выбросов парниковых газов является переход к возобновляемым источникам энергии, таким как солнечная и ветровая энергия. Также важно снизить эмиссии вредных веществ, контролировать масштабы загрязнения и развивать технологии энергоэффективности.</p>
  </section>
</body>
</html>