<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/пластик.css">
  <title>listik</title>
</head>
<body>
  <header>
    <h1>Остатки пластика</h1>
  </header>
  <nav>
    <a href="/ИзменениеКлимата">Изменение климата</a>
    <a href="/ЗагрязнениеВоды">Загрязнение воды</a>
    <a href="/">Проблемы окружающей среды</a>
  </nav>
  <section>
    <h1>Остатки пластика</h1>
    <h4>Проблема: огромные свалки пластиковых отходов</h4>
    <p>Огромные свалки пластиковых отходов: Пластиковые отходы собираются на свалках, образуя огромные кучи мусора, которые медленно разлагаются и загрязняют почву и воду. Проблема перерасхода пластика и его неконтролируемого складирования требует комплексного решения, включая утилизацию, переработку и разработку более устойчивых материалов.</p>
    <img id="im1" src="https://flomaster.top/uploads/posts/2023-10/1697239437_flomaster-top-p-plastik-risunok-krasivo-34.jpg">
    <h4>Проблема: микро-пластик в океанах</h4>
    <p>Микро-пластик в океанах: Микро-пластиковые частицы, полученные в результате разложения крупных пластиковых отходов, представляют собой серьезную проблему для океанов и морской жизни. Микро-пластик влияет на пищевые цепи, угрожая морским организмам и, в конечном итоге, человеку через пищу.</p>
    <img id="im1" src="https://aif-s3.aif.ru/images/024/402/ad7f4e13b6a4902e79a240711083e39b.jpg">
    <h4>Проблема: угроза для морской жизни</h4>
    <p>Угроза для морской жизни: Отходы из пластика создают угрозу для разнообразия морской жизни. Многие виды животных страдают от пластикового загрязнения, попадая в ловушки или поглощая мусор. Для сохранения морской фауны необходимо принять срочные меры по уменьшению использования пластика и очистке водных экосистем от загрязнений.</p>
    <img id="im1" src="https://img.freepik.com/free-vector/underwater-vehicles-machines-and-equipment-isometric-composition-ship-shines-a-searchlight-underwater-at-night_1284-54455.jpg?size=338&ext=jpg&ga=GA1.1.1546980028.1708732800&semt=ais">
    <h4>Решение проблемы:</h4>
    <p>Огромные свалки пластиковых отходов, микро-пластик в океанах и угроза для морской жизни создают серьезные проблемы для планеты. Для преодоления этой проблемы необходимо уменьшить использование пластика, внедрять системы утилизации и переработки пластиковых отходов, а также стимулировать развитие биоразлагаемых и альтернативных материалов.</p>
  </section>
</body>
</html>